.search-bar{

    display:flex;

    gap:15px;

    width:100%;

    align-items:center;

    margin-top:25px;
}

.search-bar input{

    flex:1;
}

@media(max-width:768px){

.search-bar{

    flex-direction:column;
}

.search-bar button{

    width:100%;
}

}
